@media screen and (max-width: 1020px) {
    .header {position: sticky; top: 0; background: #fff; z-index: 15; border-bottom: 1px solid #ccc; }
    .header .header-nav .nav-menu, .header .header-container .login-header {display: none;}
    
    .header .header-container .a {display: none;}
    
}