/* reset */
* {padding: 0; margin: 0; box-sizing: border-box; }
ol, ul {list-style: none;}
a {text-decoration: none; color: black;}

/* common style */

.header-nav .logo > h1 {position: absolute; margin: -9999999px;}

.title-box {width: 100%; height: auto; max-width: 1240px; margin: auto; padding-top: 5rem; padding-bottom: 3.5rem;}
.title-box > h2 {font-size: 30px; font-weight: 700; padding-bottom: 1.5rem;}
.title-box > div {width: 100%; height: 3px; max-width: 1240px;  border: 2px solid #000; background: #000;}

.img-boxes {display: flex; gap: 1.5rem;}
.img-boxes .img-box {width: 25%; height: auto;}
.img-boxes .img-box img {width: 100%; height: auto; object-fit: cover;}

.new-txts {display: flex; flex-direction: column; row-gap: .25rem; padding-top: 20px;}
 .new-txts .name {font-size: 15px; font-weight: 400;}

.new-txts .price-box { display: flex; align-items: center; gap: .25rem;}
.new-txts .price-box .sale {font-size: 18px; font-weight: 700; color: red; }
.new-txts .price-box .price-1 {font-size: 18px; font-weight: 700;}
.new-txts .price-box .price-2 {font-size: .82em; text-decoration: line-through; color: #555;} 

/* swiper slide */
.swiper-slide {text-align: center;font-size: 18px;background: #fff;
/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
.swiper {width: 100%; height: 100%}

.swiper-slide img {display: block;width: 100%;height: 100%;
object-fit: cover;}
/* style css */

/* header section */
.header .header-container {width: 100%; height: auto; max-width: 1280px; margin: auto;}
.header .login-header {display: flex; justify-content: flex-end; column-gap: 2rem; margin-top: .5rem;} 
.header .login-header .login {display: flex; align-items: center; column-gap: 2rem; font-size: 12px; color: #7a7a7a;}


.header .login-header .icon i {font-size: 23px; margin: 0 .25rem;}

.header .header-nav {display: flex; justify-content: space-between; padding: 2rem ;}
.header .nav-menu {display: flex; column-gap: 3rem;  font-weight: 700; font-size: 17px;} 

/* slider section */
.slider-section .swiper-slider {position: relative; width: 100%; height: auto;}
.slider-section .swiper-btn {width: 60px; height: 60px; border: 1px solid #fff; border-radius: 50%; margin: 0 1rem;}
.slider-section .swiper-btn:hover {width: 60px; height: 60px; _opacity: .3; background: rgba(255,255,255,0.3)}
.swiper-button-next:after, .swiper-button-prev:after {color: #fff; font-size: 1rem;}

.slider-section .black-box {width: 100%; height: 100vh; position: absolute; background: black; opacity: .3;}

.slider-section .slider-txts {position: absolute; color: white; display: flex; flex-direction: column; align-items: flex-start; margin: auto;}
.slider-section .slider-txts .text-1 {font-weight: 900; font-size: 50px;}
.slider-section .slider-txts .text-2 {font-weight: 300; font-size: 50px;}
.slider-section .slider-txts .text-3 {font-weight: 500; font-size: 20px; padding: 2rem 0;}
.slider-section .slider-txts .text-4 {font-weight: 400; font-size: 20px;}


.swiper-pagination-bullet { width: 40px; height: 5px; background: rgba(255,255,255,0.7); border-radius: 2px;}
.swiper-pagination-bullet-active { width: 40px; transition: width .5s; border-radius: 2px; background: #fff; border: 1px solid transparent; }

/* new section style */
.new-section {width: 100%; height: auto; max-width: 1240px; margin: auto; padding-bottom: 5rem;}

/* MD section */
.MD-section {width: 100%; height: auto; background: #efefef;}
.MD-section .MD-container  {width: 100%; height: auto; max-width: 1240px; display: flex; margin: auto;   padding-bottom: 5rem;}
.MD-section .MD-container .rich-img {width: 50%; padding: 0 3rem;}
.MD-section .MD-container .MD-box {width: 50%;}
.MD-section .MD-container .MD-box p:nth-child(1) {font-size: 30px; font-weight: 700;}
.MD-section .MD-container .MD-box p:nth-child(2) {font-size: 18px; font-weight: 400; color: red; padding: 1rem 0;}

.MD-section .MD-container .MD-item {width: 100%; height: auto; display: flex;}
.MD-section .MD-container .MD-item .item-img {width: 80px; margin-right: 1rem;}
.MD-section .MD-container .MD-item .item-img img {width: 100%; border-radius: 1rem;}

/* recomend section */
.recomend-section {width: 100%; height: auto; max-width: 1240px; margin: auto; padding: 5rem 0;}

.recomend-section .recomend-container {width: 100%; height: auto; display: flex; justify-content: center; align-items: center;}
.recomend-section .recomend-txt {width: 30%; height: auto; }
.recomend-section .recomend-txt p {font-size: 40px; font-weight: 700;} 
.recomend-section .new-txts .name {text-align: left;}

.recomend-section .recomend-swiper {width: 70%; height: auto; }

.recomend-section .recomend-btn {margin-top: 3rem;}
.recomend-section .recomend-btn a {border: 1px solid black; padding: 10px 20px; }

.recomend-section .swiper-wrapper {padding-bottom: 2rem;}

.new-section .img-boxes2 {padding: 3.5rem 0;}

.new-section .popular-img {width: 100%; background:rgb(241, 76, 57); display: flex;}
.new-section .popular-img .popular-txt {color: #fff; font-size: 26px; margin: auto;}