
.accordionItem{
  float:left;
  display:block;
  width:100%;
  box-sizing: border-box;
  font-family:'Open-sans',Arial,sans-serif;
}
.accordionItemHeading{
  cursor:pointer;
}
.close .accordionItemContent{
  height:0px;
  transition:height 1s ease-out;
  transform: scaleY(0);
  float:left;
  display:block;
}
.open .accordionItemContent{
  padding: 20px;
  background-color: #fff;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display:block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

.open .accordionItemHeading{
  background-color: #bdc3c7;
  color: #7f8c8d;
}
